.my-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .my-table th,
  .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .my-table th {
    background-color: #4caf50;
    color: white;
  }
  